{%- if rate_limit %}
{{ rate_limit }};
{%- endif %}

server {
    {%- if ssl_status and http_status and ssl_port_default %}
    listen {{ port }};
    listen 443;
    {%- elif ssl_status and http_status and not ssl_port_default %}
    listen {{ port }};
    listen {{ ssl_port }};
    {%- elif not ssl_status and port %}
    listen {{ port }};
    {%- endif  %}
    server_name {{ domain }};
    {%- for key, value in extras.items() %}
    {{ key|safe }} {{ value|safe }};
    {%- endfor %}
    {%- if access_log %}
    access_log {{ access_log }};
    {%- endif  %}
    {%- if error_log %}
    error_log {{ error_log }};
    {%- endif  %}
    {%- if ssl_status %}
    ssl on;
    ssl_certificate {{ ssl_cert_path }};
    ssl_certificate_key {{ ssl_key_path }};
    {%- endif  %}
    {%- for key, value in ssl_extras.items() %}
    {{ key|safe }} {{ value|safe }};
    {%- endfor  %}
    {% for location in dynamics_list %}
    {%- if location.location_desc %}
    # {{ location.location_desc }}
    {%- endif %}
    location {{ location.location_url }} {
        {%- for key, value in location.location_extra.items()  %}
        {{ key|safe }} {{ value|safe }};
        {%- endfor %}
        {%- if location.location_condition %}
        {{ location.location_condition |safe }}
        {%- endif  %}
        {%- for lua in location.location_lua.items()  %}
        {{ lua.lua_key }} {{ lua.lua_path }};
        {%- endfor  %}
        {%- if location.location_type == 'upstream' %}
        proxy_pass http://{{ location.location_upstream }}{{ location.location_proxy_url }};
        {%- elif location.location_type == 'proxy_pass' %}
        {{ location.location_type }} http://{{ location.location_upstream }}{{ location.location_proxy_url }};
        {%- else %}
        {{ location.location_type }} {{ location.location_upstream }}{{ location.location_proxy_url }};
        {% endif %}
    }
    {%- endfor %}
    {% for location in statics_list %}
    {%- if location.location_desc %}
    # {{ location.location_desc }}
    {%- endif %}
    location {{ location.location_url }} {
        {%- if location.location_condition %}
        {{ location.location_condition|safe }}
        {%- endif  %}
        {%- for key, value in location.location_extra.items()  %}
        {{ key|safe }} {{ value|safe }};
        {%- endfor %}
        {%- if location.location_type %}
        {{ location.location_type }} {{ location.location_static }};
        {%- endif %}
    }
    {%- endfor %}

}